<header>
    <div>
      <div class="app-title">
        <a routerLink="/index">MyBookmark</a>
      </div>
      <div class="app-menu">
        <ul>
          <li>
            <input type="text" [(ngModel)]="searchText" placeholder="search tag" (keyup.enter)="goSearch($event)">
          </li>
          <li>
            <a routerLink="/bookmarks/create">add</a>
            <!-- <span>add</span> -->
          </li>
          <li>
            <a routerLink="/bookmarks/search">bookmarks</a>
          </li>
        </ul>
      </div>
    </div>
  </header>