@import '~assets/scss/palette';

div {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    height: 100%;

    .app-title {
        padding-left: 10px;

        a {
            font-size: 25px;
            text-decoration: none;

            cursor: pointer;

            &:link {
                color: $primary-color-text;
            }
            &:visited {
                color: $primary-color-text;
            }
        }
    }

    .app-menu {
        
        padding-left: 20px;

        ul {
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            li {
                list-style-type: none;
                margin: 0 8px;
                a, span {
                    text-decoration: none;
                    cursor: pointer;
                    &:link {
                        color: $primary-color-text;
                    }
                    &:visited {
                        color: $primary-color-text;
                    }
                }
            }
        }
    }
}