<div class="bookmark-content">
  <div class="header">
    <a class="link" href="{{ bookmark.url }}" target="_blank">{{ bookmark.title }}</a>
    <button class="edit" (click)="editBookmark(bookmark.id)">edit</button>
    <button class="remove" (click)="removeBookmark(bookmark.id)">remove</button>
  </div>
  <p class="url-path">{{ bookmark.url }}</p>
  <app-tag-list [tags]="bookmark.tags" [isLink]="true"></app-tag-list>
  <div class="more-detail">
    <p>{{ bookmark.overview }}</p>
  </div>
</div>