@import '~assets/scss/palette';

form {
    display: flex;
    flex-direction: column;    

    .form-group {
        display: flex;
        flex-wrap: wrap;

        margin: 10px 8px 0 8px;
        padding-bottom: 10px;
        border-bottom: dashed 1px $divider-color;

        &:last-child {
            border-bottom: none;
        }

        .label-area {
            flex-basis: 100px;

            span {
                border: none;
                background: none;
                text-decoration: solid 1px $primary-color;
                outline: none;
                font-size: 13px;
                color: $primary-color;
                cursor: pointer;

                &:hover {
                    color: $primary-color-light;
                }
            }
        }

        .input-area {
            flex-grow: 1;

            input, textarea {
                width: 100%;
                min-width: 0;
            }

            textarea {
                resize: none;
                height: 100px;
            }

            .tag-form {
                margin-top: 10px; 
                padding-top: 10px;
                border-top: dashed 1px $divider-color;

                .add-new-tag {
                    display: inline-flex;
                    flex-direction: row;
                    align-items: center;

                    width: 100%;
                    height: 60px;

                    input {
                        flex-basis: 200px;
                        height: 25px;
                        margin: 0 10px;
                    }

                    button {
                        display: inline-block;
                        margin: 0 10px;
                    }
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    list-style: none;

                    margin: 0;
                    padding: 0;

                    li {
                        display: inline-flex;
                        margin: 5px;

                        span {
                            flex-basis: 150px;
                        }

                        button {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }

    .submit {
        width: 80px;
        height: 40px;
        margin-top: 10px;
    }
}