<div class="frame">
  <form [formGroup]="bookmarkForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">タイトル</label>
      <input id="title" name="title" type="text" formControlName="title">
      <span *ngIf="!bookmarkForm.controls['title'].valid">error</span>
    </div>
    <div class="form-group">
      <label for="url">URL</label>
      <input id="url" name="url" type="text" formControlName="url">
    </div>
    <div class="form-group">
      <label for="overview">概要</label>
      <input id="overview" name="overview" type="textarea" formControlName="overview">
    </div>
    <div class="form-group">
      <label for="tag">タグ</label>
      <input id="tag" name="tag" type="text" formControlName="tag">
      <button name="add" type="button" (click)="addTag()">add tag</button>
      <ul>
          <!-- <li>aaaa</li>
          <li>aaaa</li> -->
          <li *ngFor="let tag of addedTags">{{ tag.name }}</li>
      </ul>
    </div>
    <button type="submit">submit</button>
  </form>
</div>