@import '~assets/scss/palette';

.frame {
    margin: 10px 10px;
    padding: 10px 10px;

    box-shadow: 2px 2px 2px 4px rgba($divider-color, 0.5);

    form {
        display: flex;
        flex-direction: column;    

        .form-group {
            display: flex;
            flex-wrap: wrap;

            margin: 10px 8px 0 8px;
            padding-bottom: 10px;
            border-bottom: dashed 1px $divider-color;

            .label-area {
                flex-basis: 100px;

                span {
                    border: none;
                    background: none;
                    text-decoration: solid 1px $primary-color;
                    outline: none;
                    font-size: 13px;
                    color: $primary-color;
                    cursor: pointer;

                    &:hover {
                        color: $primary-color-light;
                    }
                }
            }

            .input-area {
                flex-grow: 1;

                input, textarea {
                    width: 100%;
                    height: 25px;
                    min-width: 0;

                    border: none;
                    border: solid 1px #ccc;
                    border-radius: 3px;

                    &:focus {
                        border: solid 1px $primary-color;                    
                        outline: none;
                    }

                    &.error {
                        border: solid 1px rgba(red, 0.5);                    
                    }
                }

                textarea {
                    resize: none;
                    height: 100px;
                }

                .tag-list {
                    ul {
                        display: inline-flex;
                        flex-wrap: wrap;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                
                        li {
                            margin: 2px 5px;
                            padding: 2px;
                
                            border: solid 1px $primary-color;
                            border-radius: 10px;
                
                            font-size: 13px;
                            color: $primary-color;
                        }
                    }
                }

                .tag-form {
                    margin-top: 10px; 
                    padding-top: 10px;
                    border-top: dashed 1px $divider-color;

                    .add-new-tag {
                        display: inline-flex;
                        flex-direction: row;
                        align-items: center;

                        width: 100%;
                        height: 60px;

                        input {
                            flex-basis: 200px;
                            height: 25px;
                            margin: 0 10px;
                        }

                        button {
                            display: inline-block;
                            margin: 0 10px;
                        }
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        list-style: none;

                        margin: 0;
                        padding: 0;

                        li {
                            display: inline-flex;
                            margin: 5px;

                            span {
                                flex-basis: 150px;
                            }

                            button {
                                display: inline-block;
                            }
                        }
                    }

                    button {
                        border: none;
                        border-radius: 5px;
                        outline: none;
                        background: $primary-color;
                        color: $primary-color-text;
                        &:hover {
                            background: $primary-color-dark;
                        }
            
                        &.disable {
                            background: $primary-color-light;
                        }            
                    }
                }
            }
        }

        .submit {
            width: 80px;
            height: 40px;
            margin-top: 10px;
            border: none;
            border-radius: 5px;
            outline: none;
            background: $primary-color;
            color: $primary-color-text;
            &:hover {
                background: $primary-color-dark;
            }

            &.disable {
                background: $primary-color-light;
            }
        }

    }
}
