<main>
  <div class="main-content">
    <div class="box-header">
      <input type="text" [(ngModel)]="searchText" placeholder="search word" (keyup.enter)="goSearch($event)">
      <button class="normal" (click)="goSearch($event)">検索</button>
    </div>
    <div class="box-content">
      <div *ngIf="bookmarks.length; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>
        <app-bookmark-list [bookmarks]="bookmarks"></app-bookmark-list>
      </ng-template>
      <ng-template #elseBlock>
        <div *ngIf="!isSearch; then beforeBlock; else afterBlock"></div>
        <ng-template #beforeBlock>
          <div class="message"><p>search results are shown here</p></div>
        </ng-template>
        <ng-template #afterBlock>
          <div class="message"><p>sorry, not found searched contetns</p></div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</main>